html,body{width: 100%;height: 100%;}
#main{width: 100%;height:44.3rem;float: left;overflow: scroll;}
#footer{width:100%;height:6.1rem;background:white;position: fixed;bottom: 0;}
#footer a{width:25%;height:6.1rem;float: left;text-align: center;display: block;padding:1rem 0;text-decoration: none;color: gray;}
#footer a p:first-child{font-size:2.1rem;}
#footer a p{font-size:1.5rem;}
